Desktop_input schedule and Input database.txt
[{"id":"f4ca8d2e.50a68","type":"moment","z":"faec1c9b.6bc8","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"hh:mm:ss","locale":"POSIX","output":"payload","outputType":"msg","outTz":"Asia/Jakarta","x":980,"y":1620,"wires":[["ac77b8c1.4845e8"]]},{"id":"edc97605.2a95a8","type":"ui_button","z":"faec1c9b.6bc8","name":"","group":"5073a32b.33ceec","order":15,"width":"8","height":"2","passthru":true,"label":"Save to Schedule","tooltip":"","color":"BLACK","bgcolor":"#00FFFF","icon":"","payload":"","payloadType":"date","topic":"SaveToDashboard","x":490,"y":1380,"wires":[["3f480b78.f6dc14","848c72dd.b02b6","1e8c5abd.59db65","9ee1a7dd.7e9688","e7cb990f.fd70f8","ed8587e5.0881f8","1a36d10a.43e21f","39e881ba.8edb4e","584f5418.30304c","d6623bf2.112e98"]]},{"id":"7df2a3e.b1dc25c","type":"ui_dropdown","z":"faec1c9b.6bc8","name":"HoursFinish","label":"","tooltip":"Finish Hours","place":"Finish Hours","group":"5073a32b.33ceec","order":12,"width":"4","height":"1","passthru":false,"options":[{"label":"00","value":"00","type":"str"},{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"},{"label":"03","value":"03","type":"str"},{"label":"04","value":"04","type":"str"},{"label":"05","value":"05","type":"str"},{"label":"06","value":"06","type":"str"},{"label":"07","value":"07","type":"str"},{"label":"08","value":"08","type":"str"},{"label":"09","value":"09","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"HoursTime","x":870,"y":920,"wires":[["3f480b78.f6dc14"]]},{"id":"848c72dd.b02b6","type":"function","z":"faec1c9b.6bc8","name":"TakeDataMinutes","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"MinutesTime\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.inputTimeFinish = data;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":865.2602844238281,"y":960.9563112258911,"wires":[["fb50fb5a.2a4308"]]},{"id":"3f480b78.f6dc14","type":"function","z":"faec1c9b.6bc8","name":"TakeDataHours","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"HoursTime\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.inputTimeFinish = data;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":867.8728561401367,"y":870.9367189407349,"wires":[["fb50fb5a.2a4308"]]},{"id":"cfc1fee8.3bf34","type":"ui_text_input","z":"faec1c9b.6bc8","name":"Enter Target","label":"Target","tooltip":"0~1000","group":"5073a32b.33ceec","order":7,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"Target Stroke","x":870,"y":1500,"wires":[["39e881ba.8edb4e"]]},{"id":"5481c348.bc1b8c","type":"function","z":"faec1c9b.6bc8","d":true,"name":"TakeKanbanToDb","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"Kanban\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDbInput\"){\n    msg.InputDbKanban = data;\n}\n\nelse if(msg.topic === \"SaveToDbOutput\"){\n    msg.OuputDbKanban = data;\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2080,"wires":[["52b3f234.5642fc"]]},{"id":"2c3d934.048e66c","type":"inject","z":"faec1c9b.6bc8","name":"","topic":"SaveToDashboard","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1380,"wires":[["edc97605.2a95a8"]]},{"id":"fb50fb5a.2a4308","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"string","property":"inputTimeFinish","propertyType":"msg","key":"topic","joiner":":","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1150,"y":960,"wires":[["4af77d95.d92e54","79064af2.0821b4"]]},{"id":"5b640546.9353ac","type":"ui_text_input","z":"faec1c9b.6bc8","name":"","label":"KANBAN","tooltip":"KANBAN","group":"5073a32b.33ceec","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1","topic":"Kanban","x":840,"y":2020,"wires":[["5481c348.bc1b8c","ed8587e5.0881f8","2d81f0f7.28e53"]]},{"id":"78fb3bb2.263004","type":"ui_dropdown","z":"faec1c9b.6bc8","name":"HoursStart","label":"","tooltip":"Start Hours ","place":"Start Hours ","group":"5073a32b.33ceec","order":9,"width":"4","height":"1","passthru":false,"options":[{"label":"00","value":"00","type":"str"},{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"},{"label":"03","value":"03","type":"str"},{"label":"04","value":"04","type":"str"},{"label":"05","value":"05","type":"str"},{"label":"06","value":"06","type":"str"},{"label":"07","value":"07","type":"str"},{"label":"08","value":"08","type":"str"},{"label":"09","value":"09","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"HoursTimeStart","x":870,"y":600,"wires":[["8cc16db9.5d408"]]},{"id":"9ee1a7dd.7e9688","type":"function","z":"faec1c9b.6bc8","name":"TakeDataMinutes","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"MinutesTimeStart\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.inputTimeStart = data;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":863.7134418487549,"y":647.8989381790161,"wires":[["7eb56dfe.32ebe4"]]},{"id":"1e8c5abd.59db65","type":"function","z":"faec1c9b.6bc8","name":"TakeDataHours","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"HoursTimeStart\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.inputTimeStart = data;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":873.7134418487549,"y":487.8989381790161,"wires":[["7eb56dfe.32ebe4"]]},{"id":"7eb56dfe.32ebe4","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"string","property":"inputTimeStart","propertyType":"msg","key":"topic","joiner":":","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1183.7134418487549,"y":487.8989381790161,"wires":[["40844476.377a9c","79064af2.0821b4"]]},{"id":"e7cb990f.fd70f8","type":"function","z":"faec1c9b.6bc8","name":"TakeSPMToDashboard","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"Kanban\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.SPM = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":2320,"wires":[["393567f6.d78498"]]},{"id":"dce0588b.60e198","type":"ui_text_input","z":"faec1c9b.6bc8","d":true,"name":"","label":"SPM","tooltip":"SPM","group":"5073a32b.33ceec","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"SPM","x":770,"y":2380,"wires":[["e7cb990f.fd70f8","4055ffff.87551"]]},{"id":"3822a006.dad5a","type":"ui_text","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","order":9,"width":"4","height":"1","name":"ShowData PlanTarget QTY","label":"","format":"{{msg.QtyTarget}}  Pcs","layout":"row-left","x":1800,"y":1320,"wires":[]},{"id":"b6233aa6.0d3d48","type":"link in","z":"faec1c9b.6bc8","name":"","links":["69459a30.6fbff4"],"x":335,"y":2260,"wires":[["5481c348.bc1b8c","4055ffff.87551","81dedfdd.b5dcf"]]},{"id":"62ad511.4fe65b","type":"ui_text","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","order":6,"width":"4","height":"1","name":"input plan kanban","label":"","format":"{{msg.Kanban}}  ","layout":"row-left","x":1310,"y":1840,"wires":[]},{"id":"4d4d79fb.3c4f18","type":"ui_text","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","order":7,"width":"4","height":"1","name":"actual kanban","label":"","format":"{{msg.Kanban}}  ","layout":"row-left","x":1301,"y":1882,"wires":[]},{"id":"52b3f234.5642fc","type":"link out","z":"faec1c9b.6bc8","name":"KanbanToDbOuput","links":["195a10a8.2042ff","4aa32114.a11d1"],"x":975,"y":2080,"wires":[]},{"id":"ed8587e5.0881f8","type":"function","z":"faec1c9b.6bc8","name":"TakeKanbanToDashboard","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"Kanban\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.Kanban = data;\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1960,"wires":[["fc3637b0.0c09a8"]]},{"id":"4055ffff.87551","type":"function","z":"faec1c9b.6bc8","d":true,"name":"TakeSPMToDb","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"SPM\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDbInput\"){\n    msg.InputDbSPM = data;\n}\n\nelse if(msg.topic === \"SaveToDbOutput\"){\n    msg.OutputDbSPM = data;\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":2440,"wires":[["42bbbfdf.9466b"]]},{"id":"42bbbfdf.9466b","type":"link out","z":"faec1c9b.6bc8","name":"SPMToDbOuput","links":["195a10a8.2042ff","4aa32114.a11d1"],"x":915,"y":2440,"wires":[]},{"id":"f59023ef.07353","type":"ui_template","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","name":"SPM","order":17,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n\n\n<P style = \"text-align : left;\">SPM</P>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1010,"y":2440,"wires":[[]]},{"id":"9ad5165c.62ce68","type":"ui_text","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","order":18,"width":"4","height":"1","name":"plan spm","label":"","format":"{{msg.SPM}}","layout":"row-left","x":1520,"y":2320,"wires":[]},{"id":"81dedfdd.b5dcf","type":"function","z":"faec1c9b.6bc8","d":true,"name":"TakeDataGSPH","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"GSPH\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDbInput\"){\n    msg.InputDbGSPH = data;\n}\n\nelse if(msg.topic === \"SaveToDbOutput\"){\n    msg.OutputDbGSPH = data;\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":2780,"wires":[["1758a311.f1971d"]]},{"id":"8b291b20.ba94e8","type":"ui_text_input","z":"faec1c9b.6bc8","d":true,"name":"","label":"GSPH","tooltip":"GSPH","group":"5073a32b.33ceec","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"GSPH","x":790,"y":2720,"wires":[["81dedfdd.b5dcf","1a36d10a.43e21f"]]},{"id":"96418939.d64fa8","type":"ui_text","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","order":21,"width":"4","height":"1","name":"plan GSPH Dashboard","label":"","format":"{{msg.GSPH}}  ","layout":"row-left","x":1500,"y":2600,"wires":[]},{"id":"1b73d80d.1b1528","type":"ui_template","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","name":"GSPH","order":20,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n\n\n<P style = \"text-align : left;\">GSPH</P>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1030,"y":2780,"wires":[[]]},{"id":"85ea4a12.2ad128","type":"ui_text","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","order":22,"width":"4","height":"1","name":"aktual GSPH Dashboard","label":"","format":"{{msg.GSPH}}  ","layout":"row-left","x":1510,"y":2700,"wires":[]},{"id":"1a36d10a.43e21f","type":"function","z":"faec1c9b.6bc8","name":"TakeGSPHToDashboard","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"Kanban\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.GSPH = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2660,"wires":[["94a7e727.9f3638"]]},{"id":"1758a311.f1971d","type":"link out","z":"faec1c9b.6bc8","name":"GSPHToDbOuput","links":["195a10a8.2042ff","4aa32114.a11d1"],"x":935,"y":2780,"wires":[]},{"id":"f25431fe.82367","type":"ui_template","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","name":"KANBAN","order":5,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n\n\n<P style = \"text-align : left;\">KANBAN</P>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1080,"y":2080,"wires":[[]]},{"id":"39e881ba.8edb4e","type":"function","z":"faec1c9b.6bc8","name":"TakeTargetQtyToDashboard","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"Target Stroke\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.QtyTarget = data;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":1380,"wires":[["3e0b6c52.849b24"]]},{"id":"b22d84f3.707538","type":"ui_template","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","name":"TIME START","order":11,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n\n\n<P style = \"text-align : left;\">TIME START</P>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1743.7134418487549,"y":407.8989381790161,"wires":[[]]},{"id":"5ad061a2.cf71e","type":"ui_template","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","name":"TIME FINISH","order":14,"width":"3","height":"1","format":"<!DOCTYPE html>\n<html>\n\n\n<P style = \"text-align : left;\">TIME FINISH</P>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1749.8567924499512,"y":873.9395036697388,"wires":[[]]},{"id":"61db2312.eb892c","type":"ui_text","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","order":12,"width":"4","height":"1","name":"Dashboard Plan time start","label":"","format":"{{msg.inputTimeStart}}  ","layout":"row-left","x":1723.7134418487549,"y":447.8989381790161,"wires":[]},{"id":"add6a32e.0e216","type":"ui_text","z":"faec1c9b.6bc8","group":"15cb19d6.5cc556","order":15,"width":"4","height":"1","name":"Dashboard Plan Time Finish","label":"","format":"{{msg.inputTimeFinish}}  ","layout":"row-left","x":1794.8567924499512,"y":913.9395036697388,"wires":[]},{"id":"ac77b8c1.4845e8","type":"function","z":"faec1c9b.6bc8","name":"StopTP_Triger","func":"var HoursValue = global.get (\"getTimeHours\");\n\n\nvar i = msg.payload;\nif (i == HoursValue){\n      msg.payload = \"sendQty\";\n}\nreturn msg ;\n\n\n\n\n","outputs":1,"noerr":0,"x":1204.5478744506836,"y":1621.0242710113525,"wires":[["ecc41f7b.8a2b6"]]},{"id":"b4654b6b.d43ba8","type":"inject","z":"faec1c9b.6bc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":774.5317459106445,"y":1620.7376289367676,"wires":[["f4ca8d2e.50a68"]]},{"id":"dd9fbb8b.3ce848","type":"function","z":"faec1c9b.6bc8","name":"getTimeHours","func":"global.set(\"getTimeHours\",msg.inputTimeFinish);\n","outputs":1,"noerr":0,"x":1759.8567924499512,"y":1033.9395036697388,"wires":[[]]},{"id":"aa512d87.ad822","type":"link out","z":"faec1c9b.6bc8","name":"Target Stroke to Chart","links":["16fec760.821529","6c00ed5a.2c8b84","e269432f.7d01a"],"x":2415,"y":1620,"wires":[]},{"id":"aa6215bb.af0ed8","type":"comment","z":"faec1c9b.6bc8","name":"Target Qty to Chart","info":"","x":1570,"y":1580,"wires":[]},{"id":"56cce8ae.a8d458","type":"template","z":"faec1c9b.6bc8","name":"html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<table border=\"1\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"7\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th>NO</th>\n        <th>KANBAN</th>\n        <th>QTY</th>\n        <th>START</th>\n        <th>FINISH</th>\n        <th>SPM</th>\n        <th>GSPH</th>\n       \n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{No}}          </td>            \n            <td>{{Kanban}}      </td>\n            <td>{{Target}}      </td>\n            <td>{{Time Start}}  </td>\n            <td>{{Time Finish}} </td>\n            <td>{{SPM}}         </td>\n            <td>{{GSPH}}        </td>\n            \n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":3710,"y":1800,"wires":[["c9dd3ddf.fdbca"]]},{"id":"3ac2e38d.9dfecc","type":"ui_template","z":"faec1c9b.6bc8","group":"1987e9aa.fd2eb6","name":"Scrolling Messages","order":0,"width":"13","height":"17","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.ip }}</td>\n  </tr>\n</table>\n<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":3837.7972869873047,"y":1865.0112190246582,"wires":[[]]},{"id":"ec921b01.4bba38","type":"function","z":"faec1c9b.6bc8","name":"Cr/Upd msg_events","func":"var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n      arr_msgs = [];\n  // arr_msgs.push(msg_obj) ; \n      if (msg_obj !==\"1\") {\n            arr_msgs.push(msg_obj);\n           flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n           \n       }\n    \n    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        \n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n","outputs":1,"noerr":0,"x":3110,"y":1800,"wires":[["261d5396.33016c"]]},{"id":"23b1ad.e620ae54","type":"function","z":"faec1c9b.6bc8","name":"topic & 10","func":"var arr = msg.payload ;\n\nvar i   = 30;\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(1, 30);    \n    msg.topic = 'DIALY SCHEDULE :';\n    return msg;\n}","outputs":1,"noerr":0,"x":3525.7143630981445,"y":1799.7143058776855,"wires":[["56cce8ae.a8d458"]]},{"id":"261d5396.33016c","type":"change","z":"faec1c9b.6bc8","name":"sort","rules":[{"t":"set","p":"payload","pt":"msg","to":"($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3363.094940185547,"y":1800.8092184066772,"wires":[["23b1ad.e620ae54"]]},{"id":"c9dd3ddf.fdbca","type":"template","z":"faec1c9b.6bc8","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #17A589 ;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":3846.7576789855957,"y":1800.6733751296997,"wires":[["3ac2e38d.9dfecc","8732cdad.e889d","9ca9ef41.9825"]]},{"id":"2a9d1b8b.8f6704","type":"function","z":"faec1c9b.6bc8","name":"zap msg_events flow context","func":"var cfg = undefined ;\nflow.set('msg_events', cfg, 'memoryOnly');\n\nreturn msg;","outputs":1,"noerr":0,"x":2860,"y":1860,"wires":[[]]},{"id":"2b5bc591.0bc90a","type":"inject","z":"faec1c9b.6bc8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"30 07 * * *","once":false,"onceDelay":"0.1","x":2630,"y":1860,"wires":[["2a9d1b8b.8f6704"]]},{"id":"79064af2.0821b4","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"array","property":"no","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":2830,"y":1620,"wires":[["f11f4249.ca727"]]},{"id":"c7f8fd2b.82bdf","type":"json","z":"faec1c9b.6bc8","name":"","property":"payload","action":"","pretty":false,"x":3590,"y":1620,"wires":[["ec921b01.4bba38"]]},{"id":"123a1d5a.77b173","type":"counter","z":"faec1c9b.6bc8","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":2,"x":3040,"y":1680,"wires":[["1b3139d3.67af46"],[]]},{"id":"f11f4249.ca727","type":"template","z":"faec1c9b.6bc8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"\n    {\n    \"No\"            : \"{{payload}}\",\n    \"Kanban\"        : \"{{Kanban}}\",\n    \"Target\"        : \"{{QtyTarget}}\",\n    \"Time Start\"    : \"{{inputTimeStart}}\",\n    \"Time Finish\"   : \"{{inputTimeFinish}}\",\n    \"SPM\"           : \"{{SPM}}\",\n    \"GSPH\"          : \"{{GSPH}}\"\n    }\n    \n    \n ","x":3420,"y":1620,"wires":[["c7f8fd2b.82bdf"]]},{"id":"cd2cd45c.46c8e8","type":"function","z":"faec1c9b.6bc8","name":"Reset Zero Timer","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":2830,"y":1740,"wires":[["123a1d5a.77b173"]]},{"id":"9ca9ef41.9825","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4067.7972869873047,"y":1801.0112190246582,"wires":[["8a3a168.8d48ce8"]]},{"id":"8732cdad.e889d","type":"ui_template","z":"faec1c9b.6bc8","group":"efaa78d5.b59e68","name":"Scrolling Messages","order":1,"width":"15","height":"16","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.ip }}</td>\n  </tr>\n</table>\n<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":3837.7972869873047,"y":1745.0112190246582,"wires":[[]]},{"id":"d4b98f9e.7087a","type":"change","z":"faec1c9b.6bc8","name":"Clear Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1140,"wires":[["dce0588b.60e198","5b640546.9353ac","8b291b20.ba94e8","601fcc71.619d24"]]},{"id":"584f5418.30304c","type":"delay","z":"faec1c9b.6bc8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1140,"wires":[["d4b98f9e.7087a"]]},{"id":"8fb1109.121ebf","type":"inject","z":"faec1c9b.6bc8","name":"","topic":"SaveToDashboard","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":553.7134418487549,"y":487.8989381790161,"wires":[["1e8c5abd.59db65","9ee1a7dd.7e9688"]]},{"id":"8cc16db9.5d408","type":"switch","z":"faec1c9b.6bc8","name":"","property":"inputTimeStar","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":863.7134418487549,"y":546.8989381790161,"wires":[["1e8c5abd.59db65"]]},{"id":"cae63c9d.ed1de","type":"inject","z":"faec1c9b.6bc8","name":"","topic":"SaveToDashboard","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":1960,"wires":[["ed8587e5.0881f8"]]},{"id":"718f366f.def998","type":"ui_button","z":"faec1c9b.6bc8","name":"","group":"5073a32b.33ceec","order":17,"width":"8","height":"2","passthru":false,"label":"Clear List Dialy Schedule","tooltip":"","color":"black","bgcolor":"lime","icon":"","payload":"1","payloadType":"str","topic":"","x":2620,"y":1800,"wires":[["2a9d1b8b.8f6704","cd2cd45c.46c8e8","50e20755.3e1b58"]]},{"id":"8a3a168.8d48ce8","type":"function","z":"faec1c9b.6bc8","name":"insertDataHistoryScreen","func":"var Time = new Date().toLocaleString(\"id-ID\");\nvar Kanban = msg.Kanban;\n//return {payload: now};\nvar newMsg = {\n\n'operation'     : 'save',\n'payload'       : \n    {\n        \n    'Date'          : (Time),\n    '_id'           : (Kanban),\n    'Target'        : msg.QtyTarget,\n    'Time Start'    : msg.inputTimeStart,\n    'Time Finish'   : msg.inputTimeFinish,\n    'SPM'           : msg.SPM,\n    'GSPH'          : msg.GSPH\n    \n       \n    }\n};\nreturn newMsg;\n\n \n\n\n       ","outputs":1,"noerr":0,"x":4270,"y":1800,"wires":[["1d5a0ac9.cfe895"]]},{"id":"1d5a0ac9.cfe895","type":"mongodb2 in","z":"faec1c9b.6bc8","service":"_ext_","configNode":"178c2bc8.1db4b4","name":"ListScheduleDialy","collection":"ListScheduleDialy","operation":"save","x":4510,"y":1800,"wires":[[]]},{"id":"3828e25c.6a5d2e","type":"change","z":"faec1c9b.6bc8","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1126,"wires":[["a351f3a6.9796d"]]},{"id":"b84dcd3a.c6206","type":"change","z":"faec1c9b.6bc8","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1200,"wires":[["75498432.be9fcc"]]},{"id":"4af77d95.d92e54","type":"simple-queue","z":"faec1c9b.6bc8","name":"queueTimeFinish","firstMessageBypass":true,"bypassInterval":"0","x":1764.8567924499512,"y":959.9395036697388,"wires":[["add6a32e.0e216","dd9fbb8b.3ce848"]]},{"id":"30c8fb85.b39bc4","type":"simple-queue","z":"faec1c9b.6bc8","name":"queueTargetQty","firstMessageBypass":true,"bypassInterval":"0","x":1760,"y":1380,"wires":[["3822a006.dad5a"]]},{"id":"40844476.377a9c","type":"simple-queue","z":"faec1c9b.6bc8","name":"queueTimeStart","firstMessageBypass":true,"bypassInterval":"0","x":1713.7134418487549,"y":487.8989381790161,"wires":[["61db2312.eb892c","eadc03e4.b53fc"]]},{"id":"a351f3a6.9796d","type":"link out","z":"faec1c9b.6bc8","name":"QueueTrigger","links":["750ef72e.415378","f9a6da5f.f9c4e8","1fc9c0e3.04533f","44994250.e51eac","b31dd45d.19ba88","f6fda27a.6bfd6"],"x":1186,"y":1125,"wires":[]},{"id":"750ef72e.415378","type":"link in","z":"faec1c9b.6bc8","name":"","links":["a351f3a6.9796d"],"x":1587.8567924499512,"y":933.9395036697388,"wires":[["4af77d95.d92e54"]]},{"id":"f9a6da5f.f9c4e8","type":"link in","z":"faec1c9b.6bc8","name":"","links":["a351f3a6.9796d"],"x":1508.7134418487549,"y":447.8989381790161,"wires":[["40844476.377a9c"]]},{"id":"1fc9c0e3.04533f","type":"link in","z":"faec1c9b.6bc8","name":"","links":["a351f3a6.9796d"],"x":1575,"y":1340,"wires":[["30c8fb85.b39bc4"]]},{"id":"151c613a.e0e23f","type":"switch","z":"faec1c9b.6bc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ADC","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":1126,"wires":[["3828e25c.6a5d2e"]]},{"id":"20f5b455.1f2c0c","type":"link in","z":"faec1c9b.6bc8","name":"","links":["aa4f1652.a1b798"],"x":775,"y":1126,"wires":[["151c613a.e0e23f"]]},{"id":"4ca5f2f3.4bd4cc","type":"link in","z":"faec1c9b.6bc8","name":"","links":["beb38187.962d9"],"x":895,"y":1180,"wires":[["b84dcd3a.c6206"]]},{"id":"75498432.be9fcc","type":"link out","z":"faec1c9b.6bc8","name":"QueueReset","links":["f0b31992.ce3458","1ebd6337.70bb3d","6b31c70b.146388","fe23437a.0e6d5","a9d98ef3.8f349","d86c4699.30c868","7e2c4167.6a17a"],"x":1187,"y":1200,"wires":[]},{"id":"f0b31992.ce3458","type":"link in","z":"faec1c9b.6bc8","name":"","links":["75498432.be9fcc"],"x":1508.7134418487549,"y":527.8989381790161,"wires":[["40844476.377a9c"]]},{"id":"1ebd6337.70bb3d","type":"link in","z":"faec1c9b.6bc8","name":"","links":["75498432.be9fcc"],"x":1589.8567924499512,"y":986.9395036697388,"wires":[["4af77d95.d92e54"]]},{"id":"6b31c70b.146388","type":"link in","z":"faec1c9b.6bc8","name":"","links":["75498432.be9fcc"],"x":1575,"y":1420,"wires":[["30c8fb85.b39bc4"]]},{"id":"7bc68e5.5a2f97","type":"simple-queue","z":"faec1c9b.6bc8","name":"queueTargetQty","firstMessageBypass":true,"bypassInterval":"0","x":1100,"y":1860,"wires":[["62ad511.4fe65b","4d4d79fb.3c4f18"]]},{"id":"44994250.e51eac","type":"link in","z":"faec1c9b.6bc8","name":"","links":["a351f3a6.9796d"],"x":915,"y":1820,"wires":[["7bc68e5.5a2f97"]]},{"id":"fe23437a.0e6d5","type":"link in","z":"faec1c9b.6bc8","name":"","links":["75498432.be9fcc"],"x":915,"y":1900,"wires":[["7bc68e5.5a2f97"]]},{"id":"6358b5b4.627b3c","type":"simple-queue","z":"faec1c9b.6bc8","name":"queueTargetQty","firstMessageBypass":true,"bypassInterval":"0","x":1335,"y":2321,"wires":[["9ad5165c.62ce68"]]},{"id":"b31dd45d.19ba88","type":"link in","z":"faec1c9b.6bc8","name":"","links":["a351f3a6.9796d"],"x":1150,"y":2281,"wires":[["6358b5b4.627b3c"]]},{"id":"a9d98ef3.8f349","type":"link in","z":"faec1c9b.6bc8","name":"","links":["75498432.be9fcc"],"x":1150,"y":2361,"wires":[["6358b5b4.627b3c"]]},{"id":"621534f2.40b0ec","type":"simple-queue","z":"faec1c9b.6bc8","name":"queueTargetQty","firstMessageBypass":true,"bypassInterval":"0","x":1340,"y":2660,"wires":[["85ea4a12.2ad128","96418939.d64fa8"]]},{"id":"f6fda27a.6bfd6","type":"link in","z":"faec1c9b.6bc8","name":"","links":["a351f3a6.9796d"],"x":1155,"y":2620,"wires":[["621534f2.40b0ec"]]},{"id":"d86c4699.30c868","type":"link in","z":"faec1c9b.6bc8","name":"","links":["75498432.be9fcc"],"x":1155,"y":2700,"wires":[["621534f2.40b0ec"]]},{"id":"d6623bf2.112e98","type":"link out","z":"faec1c9b.6bc8","name":"SAVE ","links":["537c1801.898b38","66d7d797.232b78","91520cd9.96ce6"],"x":695,"y":1420,"wires":[]},{"id":"ceee3981.f19978","type":"link in","z":"faec1c9b.6bc8","name":"","links":["5d4e2fa1.86812"],"x":115,"y":1140,"wires":[["584f5418.30304c"]]},{"id":"eadc03e4.b53fc","type":"debug","z":"faec1c9b.6bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1930,"y":520,"wires":[]},{"id":"fc3637b0.0c09a8","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"string","property":"Kanban","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":1960,"wires":[["7bc68e5.5a2f97","79064af2.0821b4"]]},{"id":"3e0b6c52.849b24","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"string","property":"QtyTarget","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":1380,"wires":[["30c8fb85.b39bc4","79064af2.0821b4","b265bc43.863b5"]]},{"id":"393567f6.d78498","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"string","property":"SPM","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1038,"y":2320,"wires":[["6358b5b4.627b3c","79064af2.0821b4"]]},{"id":"94a7e727.9f3638","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"string","property":"GSPH","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":2660,"wires":[["621534f2.40b0ec","79064af2.0821b4"]]},{"id":"66d7d797.232b78","type":"link in","z":"faec1c9b.6bc8","name":"","links":["d6623bf2.112e98"],"x":2815,"y":1680,"wires":[["123a1d5a.77b173"]]},{"id":"1b3139d3.67af46","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"string","property":"no","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3230,"y":1673,"wires":[["79064af2.0821b4"]]},{"id":"7926ea0a.074e84","type":"function","z":"faec1c9b.6bc8","name":"findOne","func":"var newMsg = msg.payload;\n\nmsg.payload = {'_id' : newMsg};\n\nreturn msg;","outputs":1,"noerr":0,"x":3120,"y":2200,"wires":[["c2ed7720.3a5ce8"]]},{"id":"fd886dc.8eef99","type":"mongodb2 in","z":"faec1c9b.6bc8","service":"_ext_","configNode":"178c2bc8.1db4b4","name":"Kanban_idSpmGsph","collection":"Kanban_idSpmGsph","operation":"findOne","x":3560,"y":2200,"wires":[["a3fdbe48.13f86"]]},{"id":"42cb7269.27800c","type":"function","z":"faec1c9b.6bc8","name":"TakeGSPHToDashboard","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"findDb\"){\n    data =msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.payload = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2870,"y":2200,"wires":[["7926ea0a.074e84"]]},{"id":"c2ed7720.3a5ce8","type":"json","z":"faec1c9b.6bc8","name":"","property":"payload","action":"obj","pretty":true,"x":3330,"y":2200,"wires":[["fd886dc.8eef99"]]},{"id":"a3fdbe48.13f86","type":"split","z":"faec1c9b.6bc8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3790,"y":2200,"wires":[["735f6e25.2bd04"]]},{"id":"735f6e25.2bd04","type":"switch","z":"faec1c9b.6bc8","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"SPM","vt":"str"},{"t":"eq","v":"GSPH","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":4030,"y":2200,"wires":[["dce0588b.60e198","139de350.b8596d","9c6377b.f359f88"],["8b291b20.ba94e8","e938e7c3.2208e8","e8a2226b.9df39"]]},{"id":"962ff28d.84655","type":"comment","z":"faec1c9b.6bc8","name":"memisahkan data dari database","info":"","x":3170,"y":2120,"wires":[]},{"id":"e7418004.7b9ae","type":"function","z":"faec1c9b.6bc8","name":"TakeDataTrouble1","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"TroubleReport\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.Comment = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3230,"y":1120,"wires":[["85d9b9ca.ade358","1c5a1a0e.010766"]]},{"id":"ca9a9f78.1f104","type":"ui_button","z":"faec1c9b.6bc8","name":"","group":"3e0b8684.09bd8a","order":5,"width":"8","height":"2","passthru":false,"label":"Send Trouble Report","tooltip":"","color":"","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"SaveToDashboard","x":2560,"y":1120,"wires":[["78c4b4c0.18badc","28c43444.167fdc"]]},{"id":"39ee4a29.3098b6","type":"function","z":"faec1c9b.6bc8","name":"insertDataHistoryScreen","func":"var Time = new Date().toLocaleString(\"id-ID\");\nvar Kanban = msg.Kanban;\n//return {payload: now};\nvar newMsg = {\n\n'operation'     : 'save',\n'payload'       : \n    {\n        \n    '_id'           : (Kanban),\n     'SPM'          : msg.SPM,\n    'GSPH'          : msg.GSPH\n     \n    }\n};\nreturn newMsg;\n\n\n       ","outputs":1,"noerr":0,"x":3830,"y":460,"wires":[["2baf89b2.8a9b26"]]},{"id":"2baf89b2.8a9b26","type":"mongodb2 in","z":"faec1c9b.6bc8","service":"_ext_","configNode":"178c2bc8.1db4b4","name":"masukan","collection":"Kanban_idSpmGsph","operation":"save","x":4080,"y":460,"wires":[[]]},{"id":"c590f1af.dce54","type":"ui_button","z":"faec1c9b.6bc8","name":"","group":"4d429d33.8e0274","order":5,"width":"8","height":"2","passthru":true,"label":"Save to Database","tooltip":"","color":"BLACK","bgcolor":"#FFFF00","icon":"","payload":"","payloadType":"date","topic":"SaveToDashboard","x":2670,"y":340,"wires":[["17859254.32360e","1f42cad0.202b35","b1fdd172.c31d4","1b20a038.ecb7f"]]},{"id":"5179837f.3b9f0c","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"array","property":"no","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":3450,"y":460,"wires":[["6f58d3f7.f47dac"]]},{"id":"6f58d3f7.f47dac","type":"template","z":"faec1c9b.6bc8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"\n    {\n   \n    \"Kanban\"        : \"{{Kanban}}\",\n    \"SPM\"           : \"{{SPM}}\",\n    \"GSPH\"          : \"{{GSPH}}\"\n    \n    }\n    \n    \n ","x":3620,"y":460,"wires":[["39ee4a29.3098b6"]]},{"id":"17859254.32360e","type":"function","z":"faec1c9b.6bc8","name":"TakeKanbanToDashboard","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"Kanban\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.Kanban = data;\n}\nreturn msg;","outputs":1,"noerr":0,"x":3210,"y":340,"wires":[["5179837f.3b9f0c"]]},{"id":"1f42cad0.202b35","type":"function","z":"faec1c9b.6bc8","name":"TakeSPMToDashboard","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"SPM\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.SPM = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3200,"y":460,"wires":[["5179837f.3b9f0c"]]},{"id":"b1fdd172.c31d4","type":"function","z":"faec1c9b.6bc8","name":"TakeGSPHToDashboard","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"GSPH\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.GSPH = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3210,"y":580,"wires":[["5179837f.3b9f0c"]]},{"id":"49a6bfce.ea3f4","type":"ui_text_input","z":"faec1c9b.6bc8","name":"","label":"KANBAN","tooltip":"KANBAN","group":"4d429d33.8e0274","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"Kanban","x":3220,"y":400,"wires":[["17859254.32360e"]]},{"id":"74c79b19.c44b94","type":"ui_text_input","z":"faec1c9b.6bc8","name":"","label":"SPM","tooltip":"SPM","group":"4d429d33.8e0274","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"SPM","x":3210,"y":520,"wires":[["1f42cad0.202b35"]]},{"id":"a87bad2a.8cb2f","type":"ui_text_input","z":"faec1c9b.6bc8","name":"","label":"GSPH","tooltip":"GSPH","group":"4d429d33.8e0274","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"GSPH","x":3210,"y":640,"wires":[["b1fdd172.c31d4"]]},{"id":"af58e2e8.1a1c6","type":"change","z":"faec1c9b.6bc8","name":"Clear Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2810,"y":520,"wires":[["49a6bfce.ea3f4","74c79b19.c44b94","a87bad2a.8cb2f"]]},{"id":"1b20a038.ecb7f","type":"delay","z":"faec1c9b.6bc8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2640,"y":520,"wires":[["af58e2e8.1a1c6"]]},{"id":"139de350.b8596d","type":"ui_text","z":"faec1c9b.6bc8","group":"5073a32b.33ceec","order":2,"width":0,"height":0,"name":"SPM","label":"SPM","format":"<font color= lime > {{msg.payload}} </font>","layout":"row-left","x":4370,"y":2160,"wires":[]},{"id":"e938e7c3.2208e8","type":"ui_text","z":"faec1c9b.6bc8","group":"5073a32b.33ceec","order":4,"width":0,"height":0,"name":"GSPH","label":"GSPH","format":"<font color= lime > {{msg.payload}} </font>","layout":"row-left","x":4370,"y":2260,"wires":[]},{"id":"50e20755.3e1b58","type":"link out","z":"faec1c9b.6bc8","name":"Clear List","links":["89d3963.866cd68"],"x":2755,"y":1780,"wires":[]},{"id":"89d3963.866cd68","type":"link in","z":"faec1c9b.6bc8","name":"","links":["50e20755.3e1b58","6b11d63e.fe1b08"],"x":895,"y":1220,"wires":[["b84dcd3a.c6206"]]},{"id":"601fcc71.619d24","type":"link out","z":"faec1c9b.6bc8","name":"Clear Value","links":["d4a73178.77393"],"x":515,"y":1080,"wires":[]},{"id":"d4a73178.77393","type":"link in","z":"faec1c9b.6bc8","name":"","links":["601fcc71.619d24"],"x":4235,"y":2200,"wires":[["139de350.b8596d","e938e7c3.2208e8"]]},{"id":"9c6377b.f359f88","type":"link out","z":"faec1c9b.6bc8","name":"findSPM","links":["472e9d4d.4ec304"],"x":4155,"y":2120,"wires":[]},{"id":"e8a2226b.9df39","type":"link out","z":"faec1c9b.6bc8","name":"findGSPH","links":["1184757c.ffb69b"],"x":4155,"y":2280,"wires":[]},{"id":"472e9d4d.4ec304","type":"link in","z":"faec1c9b.6bc8","name":"","links":["9c6377b.f359f88"],"x":575,"y":2320,"wires":[["e7cb990f.fd70f8"]]},{"id":"1184757c.ffb69b","type":"link in","z":"faec1c9b.6bc8","name":"","links":["e8a2226b.9df39"],"x":595,"y":2660,"wires":[["1a36d10a.43e21f"]]},{"id":"2d81f0f7.28e53","type":"link out","z":"faec1c9b.6bc8","name":"Kanban Input","links":["827e6b7d.756388"],"x":1055,"y":2020,"wires":[]},{"id":"827e6b7d.756388","type":"link in","z":"faec1c9b.6bc8","name":"","links":["2d81f0f7.28e53"],"x":2675,"y":2200,"wires":[["42cb7269.27800c"]]},{"id":"3dbdd725.467908","type":"ui_template","z":"faec1c9b.6bc8","group":"69717635.0736e8","name":"Scrolling Messages","order":1,"width":"11","height":"16","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.ip }}</td>\n  </tr>\n</table>\n<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":4270,"y":1360,"wires":[[]]},{"id":"c729f68.5687008","type":"template","z":"faec1c9b.6bc8","name":"html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<table border=\"1\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"4\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th>NO</th>\n        <th>KANBAN</th>\n        <th>ISUE</th>\n        <th>COMMENT</th>\n       \n       \n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{No}}          </td>  \n            <td>{{KanbanIsue}}  </td>  \n            <td>{{Isue}}        </td>  \n            <td>{{Comment}}     </td>\n            \n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":4010,"y":1300,"wires":[["457b2a64.d38a84"]]},{"id":"ae3ecd40.34fc6","type":"function","z":"faec1c9b.6bc8","name":"Cr/Upd msg_events","func":"var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n      arr_msgs = [];\n  // arr_msgs.push(msg_obj) ; \n      if (msg_obj !==\"1\") {\n            arr_msgs.push(msg_obj);\n           flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n           \n       }\n    \n    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        \n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n","outputs":1,"noerr":0,"x":3470,"y":1300,"wires":[["a94b71fe.baafe"]]},{"id":"de51eef8.5d896","type":"function","z":"faec1c9b.6bc8","name":"topic & 10","func":"var arr = msg.payload ;\n\nvar i   = 30;\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(1, 30);    \n    msg.topic = 'PROCESS REPORT :';\n    return msg;\n}","outputs":1,"noerr":0,"x":3840,"y":1300,"wires":[["c729f68.5687008"]]},{"id":"a94b71fe.baafe","type":"change","z":"faec1c9b.6bc8","name":"sort","rules":[{"t":"set","p":"payload","pt":"msg","to":"($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3670,"y":1300,"wires":[["de51eef8.5d896"]]},{"id":"457b2a64.d38a84","type":"template","z":"faec1c9b.6bc8","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #17A589 ;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":4150,"y":1300,"wires":[["3d9a892c.1559d6","3dbdd725.467908","ebff472a.7a04d8"]]},{"id":"5d605363.439d8c","type":"function","z":"faec1c9b.6bc8","name":"zap msg_events flow context","func":"var cfg = undefined ;\nflow.set('msg_events', cfg, 'memoryOnly');\n\nreturn msg;","outputs":1,"noerr":0,"x":3180,"y":1340,"wires":[[]]},{"id":"3da0044c.39429c","type":"inject","z":"faec1c9b.6bc8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"30 07 * * *","once":false,"onceDelay":"0.1","x":2770,"y":1340,"wires":[["5d605363.439d8c"]]},{"id":"85d9b9ca.ade358","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":3630,"y":1120,"wires":[["b706b268.ece85"]]},{"id":"9f0d1e4f.4af28","type":"json","z":"faec1c9b.6bc8","name":"","property":"payload","action":"","pretty":false,"x":3950,"y":1120,"wires":[["ae3ecd40.34fc6"]]},{"id":"1c5a1a0e.010766","type":"counter","z":"faec1c9b.6bc8","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":2,"x":3460,"y":1180,"wires":[["85d9b9ca.ade358"],[]]},{"id":"b706b268.ece85","type":"template","z":"faec1c9b.6bc8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"\n    {\n    \"No\"            : \"{{payload}}\",\n    \"Kanban\"        : \"{{KanbanIsue}}\",\n    \"Isue\"          : \"{{Isue}}\",\n    \"Comment\"       : \"{{Comment}}\"\n    }\n    \n    \n ","x":3780,"y":1120,"wires":[["9f0d1e4f.4af28"]]},{"id":"1f351569.b49bfb","type":"function","z":"faec1c9b.6bc8","name":"Reset Zero Timer","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":3150,"y":1260,"wires":[["1c5a1a0e.010766"]]},{"id":"3d9a892c.1559d6","type":"join","z":"faec1c9b.6bc8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4290,"y":1300,"wires":[["7bee87d.d2acf78"]]},{"id":"449484e.c94157c","type":"ui_button","z":"faec1c9b.6bc8","name":"","group":"3e0b8684.09bd8a","order":7,"width":"8","height":"2","passthru":false,"label":"Clear List Process Report","tooltip":"","color":"black","bgcolor":"lime","icon":"","payload":"1","payloadType":"str","topic":"","x":2710,"y":1300,"wires":[["5d605363.439d8c","1f351569.b49bfb","28c43444.167fdc"]]},{"id":"7bee87d.d2acf78","type":"function","z":"faec1c9b.6bc8","name":"insertDataHistoryScreen","func":"var Time = new Date().toLocaleString(\"id-ID\");\n//var Kanban = msg.Kanban;\n//return {payload: now};\nvar newMsg = {\n\n'operation'     : 'save',\n'payload'       : \n    {\n        \n    'Date'           : (Time),\n   'Kanban'          : msg.KanbanIsue,\n    'Isue'           : msg.Isue,\n    'Report'         : msg.Comment\n       \n    }\n};\nreturn newMsg;\n\n \n\n\n       ","outputs":1,"noerr":0,"x":4510,"y":1300,"wires":[["56933eab.72ab8"]]},{"id":"56933eab.72ab8","type":"mongodb2 in","z":"faec1c9b.6bc8","service":"_ext_","configNode":"178c2bc8.1db4b4","name":"ProductionProblemReport","collection":"ProductionProblemReport","operation":"save","x":4530,"y":1240,"wires":[[]]},{"id":"719f2641.f410f8","type":"ui_text_input","z":"faec1c9b.6bc8","name":"","label":"Isue","tooltip":"Enter Comment","group":"3e0b8684.09bd8a","order":3,"width":"8","height":"1","passthru":false,"mode":"text","delay":"0","topic":"TroubleReport","x":3190,"y":1200,"wires":[["e7418004.7b9ae"]]},{"id":"78c4b4c0.18badc","type":"change","z":"faec1c9b.6bc8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2790,"y":1120,"wires":[["e7418004.7b9ae","1ca00eb4.da7261","b86fac9c.05f94"]]},{"id":"28c43444.167fdc","type":"delay","z":"faec1c9b.6bc8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2600,"y":1200,"wires":[["56084e0c.bbc5a"]]},{"id":"56084e0c.bbc5a","type":"change","z":"faec1c9b.6bc8","name":"Clear Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2770,"y":1200,"wires":[["719f2641.f410f8","aea4e226.f8c6a","e910ecb6.3fa15"]]},{"id":"ebff472a.7a04d8","type":"ui_template","z":"faec1c9b.6bc8","group":"3943203b.a86f5","name":"Scrolling Messages","order":1,"width":"10","height":"17","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.ip }}</td>\n  </tr>\n</table>\n<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":4270,"y":1220,"wires":[[]]},{"id":"aea4e226.f8c6a","type":"ui_dropdown","z":"faec1c9b.6bc8","name":"4M1E","label":"","tooltip":"Select Isue","place":"Select Isue","group":"3e0b8684.09bd8a","order":2,"width":"8","height":1,"passthru":false,"options":[{"label":"Material","value":"Material Trouble !","type":"str"},{"label":"Methode","value":"Methode Error !","type":"str"},{"label":"Tooling","value":"Tooling Trouble !","type":"str"},{"label":"Man Power","value":"Human Error !","type":"str"}],"payload":"","topic":"4M1E","x":3190,"y":1060,"wires":[["1ca00eb4.da7261"]]},{"id":"1ca00eb4.da7261","type":"function","z":"faec1c9b.6bc8","name":"TakeData4M1E","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"4M1E\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.Isue = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3200,"y":980,"wires":[["85d9b9ca.ade358"]]},{"id":"e910ecb6.3fa15","type":"ui_text_input","z":"faec1c9b.6bc8","name":"","label":"Enter Kanban Isue","tooltip":"Enter Kanban","group":"3e0b8684.09bd8a","order":1,"width":"8","height":"1","passthru":false,"mode":"text","delay":"0","topic":"KanbanIsue","x":3230,"y":920,"wires":[["b86fac9c.05f94"]]},{"id":"b86fac9c.05f94","type":"function","z":"faec1c9b.6bc8","name":"TakeDataIsue","func":"var data = context.get(\"data\") || 0;\n\nif(msg.topic === \"KanbanIsue\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"SaveToDashboard\"){\n    msg.KanbanIsue = data;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3200,"y":860,"wires":[["85d9b9ca.ade358"]]},{"id":"ecc41f7b.8a2b6","type":"trigger","z":"faec1c9b.6bc8","op1":"","op2":"","op1type":"date","op2type":"pay","duration":"0","extend":false,"units":"s","reset":"sendQty","bytopic":"all","name":"","x":1580,"y":1620,"wires":[["38a4e5ea.a258fa"]]},{"id":"7f3dba57.ad09f4","type":"change","z":"faec1c9b.6bc8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"move","p":"QtyTarget","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"SaveToDashboard","fromt":"str","to":"Target Stroke","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":1620,"wires":[["aa512d87.ad822","d339352b.902c98"]]},{"id":"b265bc43.863b5","type":"simple-queue","z":"faec1c9b.6bc8","name":"queueTargetQty","firstMessageBypass":false,"bypassInterval":"0","x":2080,"y":1620,"wires":[["7f3dba57.ad09f4"]]},{"id":"7e2c4167.6a17a","type":"link in","z":"faec1c9b.6bc8","name":"","links":["75498432.be9fcc"],"x":1935,"y":1680,"wires":[["b265bc43.863b5"]]},{"id":"38a4e5ea.a258fa","type":"change","z":"faec1c9b.6bc8","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":1620,"wires":[["b265bc43.863b5"]]},{"id":"d339352b.902c98","type":"debug","z":"faec1c9b.6bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2190,"y":1680,"wires":[]},{"id":"3d6bc1ae.af5d5e","type":"inject","z":"faec1c9b.6bc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1740,"y":1720,"wires":[["38a4e5ea.a258fa"]]},{"id":"beec5cc.6c9e0a","type":"comment","z":"faec1c9b.6bc8","name":"Simpan data dialy schedule ke database","info":"","x":4440,"y":1740,"wires":[]},{"id":"5a1cacd9.d94b44","type":"comment","z":"faec1c9b.6bc8","name":"Simpan data dialy problem report ke database","info":"","x":4390,"y":1140,"wires":[]},{"id":"150f1e8a.e5afc1","type":"comment","z":"faec1c9b.6bc8","name":"Simpan data id kanban,spm,gsph baru ke database","info":"","x":4010,"y":400,"wires":[]},{"id":"8450ad97.021fe","type":"link in","z":"faec1c9b.6bc8","name":"","links":["7ee0a03.d47c86"],"x":975,"y":1740,"wires":[["2d30ad79.b17d22"]]},{"id":"2d30ad79.b17d22","type":"delay","z":"faec1c9b.6bc8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":1740,"wires":[["a26ffa16.7cec88"]]},{"id":"a26ffa16.7cec88","type":"change","z":"faec1c9b.6bc8","name":"Clear Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":1740,"wires":[["35adad76.afcd82"]]},{"id":"35adad76.afcd82","type":"link out","z":"faec1c9b.6bc8","name":"Clear Value Reset 07.30-20.00","links":["1b39d91a.dc5147","37f0a833.91a578","2c9ec5c.fe4c43a","d509dfc0.8bf88","38ebbbdf.1edb64","52d83f7f.2182f"],"x":1475,"y":1740,"wires":[]},{"id":"1b39d91a.dc5147","type":"link in","z":"faec1c9b.6bc8","name":"","links":["35adad76.afcd82"],"x":1455,"y":2380,"wires":[["9ad5165c.62ce68"]]},{"id":"37f0a833.91a578","type":"link in","z":"faec1c9b.6bc8","name":"","links":["35adad76.afcd82"],"x":1315,"y":2580,"wires":[["96418939.d64fa8","85ea4a12.2ad128"]]},{"id":"2c9ec5c.fe4c43a","type":"link in","z":"faec1c9b.6bc8","name":"","links":["35adad76.afcd82"],"x":1235,"y":1980,"wires":[["62ad511.4fe65b","4d4d79fb.3c4f18"]]},{"id":"d509dfc0.8bf88","type":"link in","z":"faec1c9b.6bc8","name":"","links":["35adad76.afcd82"],"x":1655,"y":1260,"wires":[["3822a006.dad5a"]]},{"id":"38ebbbdf.1edb64","type":"link in","z":"faec1c9b.6bc8","name":"","links":["35adad76.afcd82"],"x":1575,"y":840,"wires":[["add6a32e.0e216"]]},{"id":"52d83f7f.2182f","type":"link in","z":"faec1c9b.6bc8","name":"","links":["35adad76.afcd82"],"x":1575,"y":400,"wires":[["61db2312.eb892c"]]},{"id":"e6ce931a.1376d","type":"ui_dropdown","z":"faec1c9b.6bc8","name":"MinutesStart","label":"","tooltip":"Start Minutes","place":"Start Minutes","group":"5073a32b.33ceec","order":10,"width":"4","height":"1","passthru":false,"options":[{"label":"00","value":"00:00","type":"str"},{"label":"05","value":"05:00","type":"str"},{"label":"10","value":"10:00","type":"str"},{"label":"15","value":"15:00","type":"str"},{"label":"20","value":"20:00","type":"str"},{"label":"25","value":"25:00","type":"str"},{"label":"30","value":"30:00","type":"str"},{"label":"35","value":"35:00","type":"str"},{"label":"40","value":"40:00","type":"str"},{"label":"45","value":"45:00","type":"str"},{"label":"50","value":"50:00","type":"str"},{"label":"55","value":"55:00","type":"str"}],"payload":"","topic":"MinutesTimeStart","x":870,"y":700,"wires":[["9ee1a7dd.7e9688"]]},{"id":"921b3e4c.8974f","type":"ui_dropdown","z":"faec1c9b.6bc8","name":"MinutesFinish","label":"","tooltip":"Minute Finish","place":"Minute Finish","group":"5073a32b.33ceec","order":13,"width":"4","height":"1","passthru":false,"options":[{"label":"00","value":"00:00","type":"str"},{"label":"05","value":"05:00","type":"str"},{"label":"10","value":"10:00","type":"str"},{"label":"15","value":"15:00","type":"str"},{"label":"20","value":"20:00","type":"str"},{"label":"25","value":"25:00","type":"str"},{"label":"30","value":"30:00","type":"str"},{"label":"35","value":"35:00","type":"str"},{"label":"40","value":"40:00","type":"str"},{"label":"45","value":"45:00","type":"str"},{"label":"50","value":"50:00","type":"str"},{"label":"55","value":"55:00","type":"str"}],"payload":"","topic":"MinutesTime","x":880,"y":1020,"wires":[["848c72dd.b02b6"]]},{"id":"5073a32b.33ceec","type":"ui_group","z":"","name":"Form Input Dialy Schedule","tab":"e65b516c.ec039","order":1,"disp":true,"width":"8","collapse":false},{"id":"15cb19d6.5cc556","type":"ui_group","z":"","name":"BL-1","tab":"e82a3a6e.7c1ed8","order":1,"disp":true,"width":"11","collapse":true},{"id":"1987e9aa.fd2eb6","type":"ui_group","z":"","name":"BL-1  LIST SCHEDULE TODAY","tab":"e82a3a6e.7c1ed8","order":2,"disp":true,"width":"13","collapse":true},{"id":"efaa78d5.b59e68","type":"ui_group","z":"","name":"List Dialy Schedule","tab":"e65b516c.ec039","order":2,"disp":true,"width":"15","collapse":false},{"id":"178c2bc8.1db4b4","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/Blanking-1","name":"DbTTMI","options":"","parallelism":"-1"},{"id":"3e0b8684.09bd8a","type":"ui_group","z":"","name":"Input Report","tab":"e65b516c.ec039","order":4,"disp":true,"width":"8","collapse":false},{"id":"4d429d33.8e0274","type":"ui_group","z":"","name":"Input data to Dbase","tab":"e65b516c.ec039","order":5,"disp":true,"width":"8","collapse":false},{"id":"69717635.0736e8","type":"ui_group","z":"","name":"Production Report","tab":"e65b516c.ec039","order":3,"disp":true,"width":"11","collapse":false},{"id":"3943203b.a86f5","type":"ui_group","z":"","name":"BL-1 PRODUCTION REPORT","tab":"e82a3a6e.7c1ed8","order":4,"disp":true,"width":"10","collapse":true},{"id":"e65b516c.ec039","type":"ui_tab","z":"","name":"Input Data Planing Production","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e82a3a6e.7c1ed8","type":"ui_tab","z":"","name":"PT TTMI LINE BLANKING","icon":"dashboard","order":1,"disabled":false,"hidden":false}]